html, body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

main h1{
    font-size: 40px;
    font-weight: 300;
}

h1>small{
    display: block;
    font-weight: 100;
}

.toast{
    padding: 20px;
}

.warning{
    background-color: darkorange;
    color: #fff;
}

body>header{
    background-color: #2780E3;
    width: 100%;
}
body>header>section{
    display: inline-block;
}

body>header h1{
    color: #fff;
    font-size: 10px;
    font-weight: normal;
    margin: 0;
    padding-bottom: 5px;
}

body>header>nav{
    float: right;
}

body>header>nav>ul{
    margin: 0;
}

body>header>nav>ul li{
    display: inline;
}

.main-nav li{
    font-size: 10px;
    margin-right: 10px;
}

.main-nav li i{
    color: #fff;
    padding-right: 3px;
}

.main-nav li a{
    color: #fff;
    text-decoration: none;
}

.width-3{
    display: inline-block;
    float: left;
    width: 30%;
}

.width-7{
    display: inline-block;
    width: 70%;
}

.image{
    max-height: 300px;
}

